
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#canvas {
	display: block;
	margin: auto;
}

#controls {
	margin: auto;
	width: 640px;
}

#mute {
	float: right;
	display: none;
}

#insane {
	float: right;
	background: red;
	color: white;
	display: none;
}

input {
	width: 50px;
}

